$orange       : #F36C21;
$gray-dark    : #414042;
$gray-light   : #808285;
$blue-light   : #6DB2E2;
$dark-blue    : #224175;
$green        : #9ACA3E;
$yellow       : #FFC82B;
$black        : #000000;
$white        : #ffffff;
